.card {
    border: none;
    background-image: linear-gradient(to right bottom, #11111d, #32334a);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    margin: 1.2rem auto;
    max-width: 20rem;
}

.card:hover {
    box-shadow: 0 0px 16px 5px rgba(41,131,254, 0.7);
    transform: translateY(-3px) scale(1.05) rotateX(15deg); 
}

.card:hover h4 {
    color: #2983fe;
    /* transform: translateY(-3px) scale(1.05) rotateX(15deg);  */
    transition: all 0.3s ease-in;
    
}

.card-img-top {
    -webkit-clip-path: polygon(0 0, 100% 0,100% 85%, 0 100%);
    opacity: .5;
}