/* ********* NEON BUTTON ********** */

.neon-btn {
  margin-top:3rem;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 30px;
  overflow: hidden;
  transition: 0.2s;
  border: #2196f3 solid thin;
  background-color: rgba(33, 150, 243, .1);
}

.neon-btn:hover {
  color: #32334a;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  text-decoration: none;
  transition-delay: 1s;
}

.neon-btn span {
  position:absolute;
  display: block;
}

/* top */
.neon-btn span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.neon-btn:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}
/* bottom */
.neon-btn span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.neon-btn:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
/* right */
a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.neon-btn:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
/* left */
.neon-btn span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

.neon-btn:hover span:nth-child(4){
  bottom:100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/* .neon-btn-small-primary {
  margin-top:10px;
  position: relative;
  display: inline-block;
  padding: 5px 5px;
  color: #714cdf;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
  border: #714cdf solid thin;
}

.neon-btn-small-primary:hover {
  color: #32334a;
  background: #714cdf;
  box-shadow: 0 0 10px #714cdf, 0 0 40px #714cdf, 0 0 80px #714cdf;
  text-decoration: none;
}

.neon-btn-small-cyan {
  margin-top:10px;
  position: relative;
  display: inline-block;
  padding: 5px 5px;
  color: #17a2b8;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
  border: #17a2b8 solid thin;
}

.neon-btn-small-cyan:hover {
  color: #32334a;
  background: #17a2b8;
  box-shadow: 0 0 10px #17a2b8, 0 0 40px #17a2b8, 0 0 80px #17a2b8;
  text-decoration: none;
} */